# c.f. https://github.com/grpc/grpc/pull/13929
build --copt=-DGRPC_BAZEL_BUILD

# abseil requires at least C++14, as of Jan 2023
# https://github.com/abseil/abseil-cpp/releases/tag/20230125.3
build --host_cxxopt=-std=c++14 --cxxopt=-std=c++14

common --noenable_bzlmod

# Our version of com_google_protobuf requires this
common --incompatible_java_common_parameters=false

# Allow CopyFile actions to run locally when "no-remote" tag is set.
# bazel-skylib will always set no-remote, so this is required.
build --strategy=CopyFile=remote,sandboxed

# Allow CopyDirectory actions to run locally when "no-remote" tag is set.
# bazel-skylib will always set no-remote, so this is required.
build --strategy=CopyDirectory=remote,sandboxed